.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

.header__button {
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    &:hover {
        transform: scale(1.2);
    }
}

.header__nav {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-size: 2rem;
    margin: 0;
}

.header__nav-category {
    cursor: pointer;
}

.header__switch {
    align-self: center;
}