$base-color-light: #fffffe;
$base-color-dark: #16161a;

@font-face {
  font-family: "Cooper";
  src: local("Cooper"),
    url(fonts/Cooper-Black-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Rewir";
  src: local("Rewir"), url(fonts/Rewir-Light.ttf) format("opentype");
}

.app {
  font-family: Rewir;
  transition: background-color 0.5s ease;
  &__category {
    height: 90vh;
  }
}

.app--light {
  background-color: $base-color-light;
  .app {
    &__header {
      background-color: $base-color-light;
      color: $base-color-dark;
    }
    &__category {
      color: $base-color-dark;
    }
  }
}

.app--dark {
  background-color: $base-color-dark;
  .app {
    &__header {
      background-color: $base-color-dark;
      color: $base-color-light;
    }
    &__category {
      color: $base-color-light;
    }
  }
}

button {
  font-family: Rewir;
}
